#app {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "header" "content";
  padding: 10px;  
}

#header {
  grid-area: header;
  
  background-image: url("/images/header-green.jpg");
  background-size: cover;
  height: 75px;  
}

#sidebar {
  grid-area: sidebar;
}

#content {
  grid-area: content;
  padding: 0;  
}

.logo { 
  height: 50px;  
  float: left;
}

@media only screen and (max-width: 500px)  {
  .logo { 
    height: 25px;      
  }
}

#header.title {
  font-size: 1.5em; 
  margin-left: 45px;
  float: left;
}

@media only screen and (max-width: 500px)  {
  .title { 
    display: none;   
  }
}

.tile {
  background-color: #fff;
  color: #6c0046;

  border: #00a514 1px solid;
  border-radius: 5px;
  padding: 10px;

  font-family: sans-serif;
}