
#Menu>Div {
  font-family: sans-serif;
  font-size: 0.85em; 
  padding: 1px;
}

#Menu .SubMenu>Div {
  font-family: sans-serif;
  font-size: 0.75em; 
  padding: 1px;
  margin-left: 5px;
}

#Menu .Current {
  color: #00a514;
}