
#slides {
  display: flex;
  min-height: 100vw;  
}

#sideMenu {  
  transition: all 2s;  
  width: 200px;
  position: absolute;
  overflow-x: hidden;
  min-height: 100vw;  
}

#innercontent {
  flex: 1;
  padding: 10px;   
  transform: translate3d(0,0,0);
  transition: transform .3s;
  overflow-x: hidden;
}

#menuToggle {
  float: left;
}

#slides.hideMenu #innercontent {
  transform: translate3d(220px,0,0);
}

.flexbox-item-grow
{
    flex: 1; /* same as flex: 1 1 auto; */
}

.fill-area
{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    
}